body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div {
    display: flex;
}

h1 {
    margin: 2px;
}

#board {
    height: 960px;
    width: 960px;
    background-color: lightgray;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;

}

.row {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}
.square {
    border:1px solid black;
    opacity: 0;
    background-color: black;
    align-self: stretch;
    flex: 1;
}